.container1 {
    display: flex;
    width: 100%;
    height: 750px;
   
}
.photo1 {
    width: 608px;
    height: 395px;
    flex-shrink: 0;
    margin-top: 210px;
    margin-left: 70px;
    
   
    
}
.line {
    width: 100px;
    height: 1px;
     background: #EEC48B;;
}


h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    height: 44px;
    margin-bottom: 50px;
    
}
p {
    color: #FFF;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
margin-bottom: 316px;
height: 168px;
display: flex;
align-items: center;
margin-top: 50px;
}
.text {
    height: 220px;
    width: 500px;
    margin-top: 250px;
    margin-left: 100px;
}
.text2 {
    height:168px ;
    width:472px ;
    margin-top: 40px;

}
.text3 {
    color: var(--Accent-color, #EEC48B);
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
text-transform: uppercase;
}
.podrob {
    margin-left: 370px;
    margin-top: 60px;
    
}
.conteiner2 {
    width: 1366px;
    height: 600px;
    flex-shrink: 0;
}
.photo2 {
    position: relative;
}
.text4 {
    position: absolute;
    margin-top: 49px;
}